<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <link rel="stylesheet" href="/style.css" />
          <title>Document</title>
     </head>
     <body>
          <%-include('./partials/nav')%>

          <section id="allItems">
               <% item.forEach(elt => { %>

               <div class="items">
                    <a href="/single/<%= elt._id %>">
                         <img src="<%= elt.product_picture_URL %>" alt="" />
                    </a>
                    <div class="flex1">
                         <p><%= elt.product_name %></p>
                         <p><%= elt.Price %> $</p>
                    </div>
                    <p><%= elt.Company %></p>
               </div>
               <% }) %>
          </section>
     </body>
</html>
